
@{
    ViewData["Title"] = "Regras";
}

<div style="text-align: center;">
    <h1>Regras</h1>


    <div class="justify-content-center">
        <h2>Sistema Ave</h2>
    </div>
    

    <div class="justify-content-center">
        <h2>Eliminatórias diretas</h2>
    </div>

    <div class="justify-content-center">
        <h2>Campeonato</h2>
    </div>

</div>
