
@{
    ViewData["Title"] = "Regras";
}

<div style="text-align: center;">
    <h1>Regras</h1>

    <button class="justify-content-center" onclick="showContent('sistemaAve')">
        <h2>Sistema Ave</h2>
    </button>

    <button class="justify-content-center" onclick="showContent('eliminatorias')">
        <h2>Eliminatórias diretas</h2>
    </button>

    <button class="justify-content-center" onclick="showContent('campeonato')">
        <h2>Campeonato</h2>
    </button>
</div>

<div id="content" class="justify-content-center" style="margin-top: 20px; text-align: center;">
    <h2>^Seleciona em cima o formato.^</h2>
    <a hidden href="../Ficheiros/sistemaAve.xlsx"></a>
    <img hidden src="../Fotos/eliminatorias.png">
    <img hidden src="../Fotos/campeonato.png">
</div>

<script>
    function showContent(section) {
        let contentDiv = document.getElementById('content');
        if (section === 'sistemaAve') {
            contentDiv.innerHTML = '<h2>Sistema Ave</h2><a href="../Ficheiros/sistemaAve.xlsx" download>Download do Arquivo Excel com a Explicação do Sistema Ave</a>';
        } else if (section === 'eliminatorias') {
            contentDiv.innerHTML = '<h2>Eliminatórias diretas</h2><img src="../Fotos/eliminatorias.png" alt="Eliminatórias diretas" style="width:200%; max-width:1000px;">';
        } else if (section === 'campeonato') {
            contentDiv.innerHTML = '<h2>Campeonato</h2><img src="../Fotos/campeonato.png" alt="Campeonato" style="width:200%; max-width:1000px;">';
        }
    }
</script>