<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campeonato de Bilhar</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: white;
            margin: 0;
            padding: 0;
        }

        .First {
            background-color: darkgray;
            color: white;
            font-size: 30px;
            border-radius: 6px;
            padding: 5px;
        }

        .container {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        h1, h2 {
            text-align: center;
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: darkgrey;
            color: #fff;
        }

        .button {
            display: inline-block;
            margin: 20px auto;
            padding: 10px 20px;
            background-color: darkgrey;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            transition: background-color 0.3s;
        }

            .button:hover {
                background-color: darkgrey;
            }

        .form-group {
            margin: 15px 0;
            text-align: center;
        }

            .form-group label {
                display: block;
                margin-bottom: 5px;
                color: #333;
            }

            .form-group input, .form-group select {
                width: 100%;
                max-width: 300px;
                padding: 10px;
                margin: 0 auto;
                border: 1px solid #ddd;
                border-radius: 5px;
                box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
                transition: border-color 0.3s;
            }

                .form-group input:focus, .form-group select:focus {
                    border-color: darkgrey;
                    outline: none;
                }

        .winner-section {
            text-align: center;
            margin-top: 20px;
        }

            .winner-section img {
                width: 100px;
                height: 100px;
            }

            .winner-section h3 {
                color: darkgrey;
            }
    </style>
</head>
<body>
    <div class="Link_Style">
        <label> <a target="_blank" class="First" href="https://docs.google.com/spreadsheets/d/1pJj9lXHHE-WgDh9P-9JhUp6NGMOrIRdxhZQ8Gs9MHow/edit?usp=sharing">Lista de Jogadores</a></label>
    </div>
    <div class="container">
        <h1>Campeonato de Bilhar</h1>

        <div class="form-group" id="numJogadoresDiv">
            <label for="numJogadores">Número de jogadores (4 a 64):</label>
            <input type="number" id="numJogadores" min="4" max="64" value="4">
            <button id="confirmNumJogadores" class="button">Confirmar Número de Jogadores</button>
        </div>

        <div id="jogadoresForm" style="display: none;">
            <h2>Escolha os Jogadores</h2>
            <div id="jogadoresInputs"></div>
            <button id="startButton" class="button">Iniciar Campeonato</button>
        </div>

        <button id="terminarButton" class="button" style="display: none;">Terminar Torneio</button>

        <div id="tabelaResultados">
            <table id="tabelaResultados">
                <h2>Tabela de Classificação</h2>
                <thead>
                    <tr>
                        <th>Jogador</th>
                        <th>Pontos</th>
                        <th>Vitórias</th>
                        <th>Derrotas</th>
                        <th>Jogos</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aqui serão inseridas as linhas da tabela via JavaScript -->
                </tbody>
            </table>
        </div>

        <div class="winner-section" id="winnerSection" style="display: none;">
            <img src="" id="winnerImage" alt="Vencedor">
            <h3 id="winnerName"></h3>
        </div>

        <div id="jogosContainer">
            <h2>Jogos</h2>
            <table id="jogoAtual">
                <thead>
                    <tr>
                        <th>Jogador A</th>
                        <th>Jogador B</th>
                        <th>Resultado do Jogador A</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aqui será inserida a linha do jogo atual via JavaScript -->
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        var jogos = [];
        var jogoIndex = 0;
        var resultados = {};
        var jogadoresSelecionados = [];
        var spreadsheetUrl = 'https://docs.google.com/spreadsheets/d/1pJj9lXHHE-WgDh9P-9JhUp6NGMOrIRdxhZQ8Gs9MHow/edit?usp=sharing';

        document.getElementById("confirmNumJogadores").addEventListener("click", function () {
            var numJogadores = document.getElementById("numJogadores").value;
            if (numJogadores < 4 || numJogadores > 64) {
                alert("Número inválido de jogadores. O número de jogadores deve estar entre 4 e 64.");
                return;
            }
            fetchPlayerNames(spreadsheetUrl, function (jogadores) {
                if (jogadores.length < numJogadores) {
                    alert("A planilha não contém jogadores suficientes.");
                    return;
                }
                exibirInputsJogadores(numJogadores, jogadores);
                document.getElementById("numJogadoresDiv").style.display = "none"; // Oculta a div de seleção do número de jogadores
                iniciarCampeonato(numJogadores);
            });
        });

        function fetchPlayerNames(url, callback) {
            var query = new google.visualization.Query(url.replace('/edit', '/gviz/tq'));
            query.setQuery('SELECT A');
            query.send(function (response) {
                if (response.isError()) {
                    console.error('Error fetching data:', response.getMessage());
                    return;
                }
                var data = response.getDataTable();
                var jogadores = [];
                for (var i = 0; i < data.getNumberOfRows(); i++) {
                    jogadores.push(data.getValue(i, 0));
                }
                // Adiciona um nome padrão à lista de jogadores
                jogadores.unshift("Selecione um jogador");
                callback(jogadores);
            });
        }


        function exibirInputsJogadores(numJogadores, jogadores) {
            var jogadoresInputs = document.getElementById("jogadoresInputs");
            jogadoresInputs.innerHTML = "";
            for (var i = 0; i < numJogadores; i++) {
                var select = document.createElement("select");
                select.className = "jogadorSelect";
                jogadores.forEach(function (jogador) {
                    var option = document.createElement("option");
                    option.value = jogador;
                    option.text = jogador;
                    select.appendChild(option);
                });
                select.addEventListener('change', atualizarOpcoes);
                jogadoresInputs.appendChild(select);
                jogadoresInputs.appendChild(document.createElement("br"));
            }
            document.getElementById("jogadoresForm").style.display = "block";
        }

        function atualizarOpcoes() {
            var selects = document.querySelectorAll(".jogadorSelect");
            var selecionados = Array.from(selects).map(select => select.value);

            selects.forEach(function (select) {
                var opcoes = Array.from(select.options);
                opcoes.forEach(function (opcao) {
                    if (selecionados.includes(opcao.value) && opcao.value !== select.value) {
                        opcao.style.display = 'none';
                    } else {
                        opcao.style.display = 'block';
                    }
                });
            });
        }

        document.getElementById("startButton").addEventListener("click", function () {
            var selects = document.querySelectorAll(".jogadorSelect");
            jogadoresSelecionados = Array.from(selects).map(select => select.value);
            resultados = inicializarResultados(jogadoresSelecionados);
            exibirClassificacao(resultados);
            jogos = gerarJogos(jogadoresSelecionados);
            exibirJogoAtual();
            document.getElementById("jogadoresForm").style.display = "none";
            document.getElementById("startButton").style.display = "none";
            document.getElementById("terminarButton").style.display = "block";
        });

        function inicializarResultados(jogadores) {
            var resultados = {};
            jogadores.forEach(jogador => {
                resultados[jogador] = { pontos: 0, vitorias: 0, derrotas: 0, jogos: 0 };
            });
            return resultados;
        }

        function gerarJogos(jogadores) {
            var jogos = [];
            for (var i = 0; i < jogadores.length - 1; i++) {
                for (var j = i + 1; j < jogadores.length; j++) {
                    jogos.push([jogadores[i], jogadores[j]]);
                }
            }
            shuffleArray(jogos);
            return jogos;
        }

        function shuffleArray(array) {
            for (var i = array.length - 1; i > 0; i--) {
                var j = Math.floor(Math.random() * (i + 1));
                var temp = array[i];
                array[i] = array[j];
                array[j] = temp;
            }
        }

        function exibirClassificacao(resultados) {
            var tabelaHTML = "";
            var classificacao = [];
            for (var jogador in resultados) {
                classificacao.push({ jogador: jogador, pontos: resultados[jogador].pontos });
            }
            classificacao.sort((a, b) => b.pontos - a.pontos);

            classificacao.forEach(entry => {
                var jogador = entry.jogador;
                tabelaHTML += "<tr>";
                tabelaHTML += "<td>" + jogador + "</td>";
                tabelaHTML += "<td>" + resultados[jogador].pontos + "</td>";
                tabelaHTML += "<td>" + resultados[jogador].vitorias + "</td>";
                tabelaHTML += "<td>" + resultados[jogador].derrotas + "</td>";
                tabelaHTML += "<td>" + resultados[jogador].jogos + "</td>";
                tabelaHTML += "</tr>";
            });
            document.getElementById("tabelaResultados").getElementsByTagName("tbody")[0].innerHTML = tabelaHTML;
        }

        function exibirJogoAtual() {
            if (jogoIndex >= jogos.length) {
                document.getElementById("jogoAtual").style.display = "none";
                document.getElementById("terminarButton").disabled = false;
                return;
            }

            var jogo = jogos[jogoIndex];
            var jogoHTML = "<tr>";
            jogoHTML += "<td>" + jogo[0] + "</td>";
            jogoHTML += "<td>" + jogo[1] + "</td>";
            jogoHTML += "<td><input type='button' value='Vitória' onclick='registrarResultado(\"Vitória\")'>   <input type='button' value='Derrota' onclick='registrarResultado(\"Derrota\")'></td>";
            jogoHTML += "</tr>";

            document.getElementById("jogoAtual").getElementsByTagName("tbody")[0].innerHTML = jogoHTML;
            document.getElementById("jogoAtual").style.display = "table";
        }

        function registrarResultado(resultado) {
            var jogo = jogos[jogoIndex];
            var jogador1 = jogo[0];
            var jogador2 = jogo[1];

            if (resultado === "Vitória") {
                resultados[jogador1].pontos += 3;
                resultados[jogador1].vitorias += 1;
                resultados[jogador2].derrotas += 1;
            } else if (resultado === "Derrota") {
                resultados[jogador2].pontos += 3;
                resultados[jogador2].vitorias += 1;
                resultados[jogador1].derrotas += 1;
            }

            resultados[jogador1].jogos += 1;
            resultados[jogador2].jogos += 1;

            exibirClassificacao(resultados);

            jogoIndex++;
            exibirJogoAtual();
        }

        document.getElementById("terminarButton").addEventListener("click", function () {
            var vencedor = null;
            var maxPontos = -1;

            for (var jogador in resultados) {
                if (resultados[jogador].pontos > maxPontos) {
                    vencedor = jogador;
                    maxPontos = resultados[jogador].pontos;
                }
            }

            if (vencedor !== null) {
                document.getElementById("winnerImage").src = "/Fotos/medalha.png"; // Substitua "medalha.png" pelo caminho da imagem do vencedor
                document.getElementById("winnerName").textContent = "Vencedor: " + vencedor;
                document.getElementById("winnerSection").style.display = "block";
                document.getElementById("terminarButton").style.display = "none"; // Esconde o botão de terminar

            } else {
                alert("Nenhum vencedor encontrado. Por favor, jogue mais jogos para determinar o vencedor.");
            }
            document.getElementById("tabelaResultados").style.display = "none"; // Esconde a tabela de resultados
            document.getElementById("jogosContainer").style.display = "none"; // Esconde a seção de jogos
        });

        // Load the Google Visualization API
        google.charts.load('current', { 'packages': ['corechart'] });
    </script>
</body>
</html>
