@model Tuple<Jogador, Jogador>

<h1>Tournament Bracket</h1>

<div>
    <h3>Player 1: @Model.Item1.NomeJogador</h3>
    <h3>Player 2: @Model.Item2.NomeJogador</h3>
</div>

<form method="post" action="/Torneios/BracketView">
    <input type="hidden" name="player1" value="@Model.Item1.IdJogador" />
    <input type="hidden" name="player2" value="@Model.Item2.IdJogador" />
    <input type="submit" name="winner" value="Player 1 Wins" />
    <input type="submit" name="winner" value="Player 2 Wins" />
</form>

