header {
    background-color: transparent;
    padding: 20px 0;

}

h1 {
    font-size: 50px;
    margin: 0;
    align-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h2 {
    font-size: 30px;
    margin: 0;
    align-content: center;
}
h3 {
    font-size: 30px;
    margin: 0;
    align-content: center;
}
h4 {
    font-size: 30px;
    margin: 0;
    align-content: center;
}

p {
    font-size: 30px;
    margin-top: 5px;
    align-content: center;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-primary {
    background-color: transparent;
}

.btn-secondary {
    background-color: transparent;
    margin-left: 20px;
}


